* {
  padding: 0;
  margin: 0;
 }
 
 .Nav {
   background-color: #494747;
   color: wheat;
   padding: 20px;
   text-align: center;
   height: 45px;
   position: relative;
 }
 
 .hero {
   background-color: #f0f0f0;
 padding: 260px;
 text-align: center;
 }
 .footer {
   background-color: black;
   color: white;
   padding: 25px;
   position: fixed;
   text-align: center;
   width: 1300px;
   bottom: 0;
 }